 <footer class="page-footer">
         <div class="row">
	
	<div class="col s6 m3 l2 offset-l2">
		<ul>
			<li>MyPass</li>
			<li><a href="/">Home</a></li>
			<li><a href="/sitemap">Site Map</a></li>
		</ul>
	</div>
	
	<div class="col s6 m3 l2">
		<ul>
			<li>Sign Up</li>
			<li><a href="/signup/text"> text </a></li>
			<li><a href="/signup/face"> face </a></li>
			<li><a href="/signup/voice">voice</a></li>
			<li><a href="/signup/picture">picture</a></li>
		</ul>
	</div>
	
	<div class="col s6 m3 l2">
		<ul>
			<li>Login</li>
			<li><a href="/login/text"> text </a></li>
			<li><a href="/login/face"> face </a></li>
			<li><a href="/login/voice">voice</a></li>
			<li><a href="/login/picture">picture</a></li>
		</ul>
	</div>

	<div class="col s6 m3 l2">
		<ul>
			<li>API links</li>
			<li><a href="/api/text"> text </a></li>
			<li><a href="/api/face"> face </a></li>
			<li><a href="/api/voice">voice</a></li>
			<li><a href="/api/picture">picture</a></li>
		</ul>
	</div>

</div>

          <div class="footer-copyright">
            <div class="container">
            © 2017 MyPass
            </div>
          </div>
        </footer>
            