<footer class="page-footer">
	<div class="row">

		{{!--
		<div class="col s6 m3 offset-m3 l2 offset-l4">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/sitemap">Site Map</a></li>
			</ul>
		</div>

		<div class="col s6 m3 l2">
			<ul>
				<li>Login</li>
				<li><a href="/login/text"> Plain Text </a></li>
				<li><a href="/login/face"> Face </a></li>
				<li><a href="/login/voice">Voice</a></li>
				<li><a href="/login/picture">Picture</a></li>
			</ul>
		</div> --}}

		<div class="content-wrap">
			<ul>
				<li>Explore the Site</li>
				<li><a href="/">Home</a></li>
				<li><a href="/how-it-works">How it Works</a></li>
				<li><a href="/future-plans">Future Plans</a></li>
				<li><a href="/sitemap">Site Map</a></li>
			</ul>
			<ul>
				<li>Connect with Us</li>
				<li><a href="https://github.com/wayncheng/mypass">Github Repo</a></li>
				<li><a href="/about-us">About the Team</a></li>
				<li><a href="mailto:mypass.group@gmail.com">Email Us</a></li>
			</ul>
			<ul>
				<li>Login</li>
				<li><a href="/login/text"> Plain Text </a></li>
				<li><a href="/login/face"> Face </a></li>
				<li><a href="/login/voice">Voice</a></li>
				{{!--
				<li><a href="/login/picture">Picture</a></li> --}}
			</ul>

		</div>

	</div>
	<!--================================-->
	<div class="row subrow">
		<div class="footer-copyright">
			<div class="container">
				<span class="site-name">MyPass</span> © 2017 MyPass
			</div>
		</div>
	</div>


</footer>