 <footer class="page-footer">
         <div class="row">
	
	<div class="col s6 m3 l2 offset-l2">
		<ul>
			<li>MyPass</li>
			<li><a href="/">Home</a></li>
			<li><a href="/sitemap">Site Map</a></li>
		</ul>
	</div>
	
	<div class="col s6 m3 l2">
		<ul>
			<li>Sign Up</li>
			<li><a href="/signup/text"> Plain Text </a></li>
			<li><a href="/signup/face"> Face </a></li>
			<li><a href="/signup/voice">Voice</a></li>
			<li><a href="/signup/picture">Picture</a></li>
		</ul>
	</div>
	
	<div class="col s6 m3 l2">
		<ul>
			<li>Login</li>
			<li><a href="/login/text"> Plain Text </a></li>
			<li><a href="/login/face"> Face </a></li>
			<li><a href="/login/voice">Voice</a></li>
			<li><a href="/login/picture">Picture</a></li>
		</ul>
	</div>

	<div class="col s6 m3 l2">
		<ul>
			<li>API links</li>
			<li><a href="https://www.npmjs.com/package/bcrypt"> Plain text </a></li>
			<li><a href="http://docs.aws.amazon.com/rekognition/latest/dg/what-is.html"> Face </a></li>
			<li><a href="https://siv.voiceprintportal.com/apidocs">Voice</a></li>
			<li><a href="http://docs.aws.amazon.com/rekognition/latest/dg/what-is.html">Picture</a></li>
		</ul>
	</div>

</div>

          <div class="footer-copyright">
            <div class="container">
            © 2017 MyPass
            </div>
          </div>
        </footer>
            