<header>
<nav>
	<div class="nav-wrapper">
		<ul class="hide-on-med-and-down">
			<li><a href="/">Home</a></li>
			<!-- Dropdown Trigger -->
			<li><a class="dropdown-button" href="#!" data-activates="dropdown1">
			  Setup
			  <i class="material-icons right">arrow_drop_down</i>
			</a> </li>
			<li><a class="dropdown-button" href="#!" data-activates="dropdown2">
			  Login
			  <i class="material-icons right">arrow_drop_down</i>
			  </a></li>
		</ul>
	</div>
</nav>
</header>

<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
	<li><a href="/signup/text">text</a></li>
	<li><a href="/signup/face">face</a></li>
	<li><a href="/signup/voice">voice</a></li>
</ul>
<ul id="dropdown2" class="dropdown-content">
	<li><a href="/login/text">text</a></li>
	<li><a href="/login/face">face</a></li>
	<li><a href="/login/voice">voice</a></li>
</ul>

