
	
	<title>{{title}}</title>
	<meta charset="UTF-8">
	<meta name="keywords" content="">
	<meta name="author" content="Wayne Cheng">	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- favicon -->
	<link rel="icon" href="#">
	<!-- app icon when saved on Apple devices -->
	<link rel="apple-touch-icon" sizes="100x100" href="#">
	<link rel="apple-touch-icon" sizes="200x200" href="#">
	<link rel="apple-touch-icon" sizes="300x300" href="#">
	<!-- Google Font Links -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet">
	<!-- Materialize -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"> 
	{{!-- <link rel="stylesheet" href="src/libs/materialize.css"> --}}
	<!-- Custom Stylesheets -->
	<link rel="stylesheet" href="src/css/style.css">
	<link rel="stylesheet" href="src/css/forms.css">
	<link rel="stylesheet" href="src/css/steps.css">
	<link rel="stylesheet" href="src/css/camera.css">
