{{#if isSignup}}

<div style="font-size=2px;">Please do not refresh Page Until Sign Up Completes, to exit at any point Please Press Cancel</div>
<div class="row">

<div class="step-container">
	<ul class="step-wrap">		
		<li id="step-1" data-step="1" class="step {{#if text}}active{{/if}}"> 
			 <a>1</a>
		</li>
		<li id="step-2" data-step="2" class="step {{#if face}}active{{/if}}"> 
			<a>2</a> </li>
		<li id="step-3" data-step="3" class="step {{#if voice}}active{{/if}}"> 
		<a>3</a> 

		</li>
	</ul>
	<div class="progress-bar">
		<span class="progress target"></span>
	</div>
</div>
</div>

{{/if}}