{{#if isSignup}} 

	{{!-- <div style="font-size=2px;">Please do not refresh Page Until Sign Up Completes, to exit at any point Please Press Cancel</div> --}}

{{!-- Large Dots on Progress Bar --}}
{{!-- <div class="row">
	<div class="steps-big-dots-on-bar step-container">
		<ul class="step-wrap">
			<li id="step-1" data-step="1" class="step {{#if text}}active{{/if}}"> 1 </li>
			<li id="step-2" data-step="2" class="step {{#if face}}active{{/if}}"> 2 </li>
			<li id="step-3" data-step="3" class="step {{#if voice}}active{{/if}}"> 3 </li>
		</ul>
		<div class="progress-bar">
			<span class="progress target"></span>
		</div>
	</div>
</div> --}}

{{!-- Simple Dot Steps --}}
<div class="row">
	<div class="steps-dots step-container">
		<ul class="step-wrap">
			<li id="step-1" data-step="1" class="step {{#if text}}active{{/if}}"></li>
			<li id="step-2" data-step="2" class="step {{#if face}}active{{/if}}"></li>
			<li id="step-3" data-step="3" class="step {{#if voice}}active{{/if}}"></li>
		</ul>
	</div>
</div>


{{/if}}