
		 <div class="step-container">
		<ul class="step-wrap">
				 <!-- <li id="step-0" class="step done"><a href="#!">0</a></li>  -->
				 <li id="step-1" class="step done">
					 <a href="#!">1</a>
					 </li> 
				<li id="step-2" class="step active">
					<a href="#!">2</a>
					</li>
				<li id="step-3" class="step">
					<a href="#!">3</a>
					</li>
		</ul>
				<div class="progress-bar">
					<span class="progress target prog-50"></span>	
				</div>
		 </div>