<!DOCTYPE html>
<html lang="en" class="demo">
<head>
	<base href="../../">
	{{>head}}
</head>
<body>

	{{>header}}
	{{>steps}}
	<h4 class="layout-title">Demo</h4>

	{{{body}}}


	{{>footer}}
	{{>scripts}}
	
			<div id="apiPhase" class="hide">{{api_phase}}</div>
</body>
</html>