<!DOCTYPE html>
<html lang="en" class="demo">
<head>
	<base href="../../">
	{{>head}}
</head>
<body>

	{{>header}}
	{{>steps}}
	<h4>Demo</h4>

	{{{body}}}


	{{>footer}}
	{{>scripts}}
	
</body>
</html>