<!DOCTYPE html>
<html lang="en" class="login">
<head>
	<base href="../../">
	{{>head}}
</head>
<body>

	{{>header}}

	<main>
	{{>steps}}
	<h4>Login</h4>

	{{{body}}}

	</main>

	{{>footer}}
	{{>scripts}}
	
</body>
</html>