<!DOCTYPE html>
<html lang="en" class="login">
<head>
	<base href="../../">
	{{>head}}
</head>
<body>

	{{>header}}

	<main>
		
	<h4 class="layout-title">Login</h4>
	<div id="apiPhase" class="hide">{{api_phase}}</div>
	{{{body}}}

	</main>

	{{>footer}}
	{{>scripts}}
	
			
</body>
</html>