<!DOCTYPE html>
<html lang="en" class="login">
<head>
	<base href="../../">
	{{>head}}
</head>
<body>

	{{>header}}

	<main>
		
	{{!-- <h4 class="layout-title">Login</h4> --}}
	{{{body}}}

	</main>

	{{>footer}}
	{{>scripts}}
	
			
	<div id="apiPhase" class="hide">{{api_phase}}</div>
</body>
</html>