<!DOCTYPE html>
<html lang="en">
<head>
  {{>head}}
</head>

<body class="row">
<!--========================-->
<main>
  {{{body}}}
</main>
<!--========================-->
  {{>scripts}}
<!--========================-->
  </body>
  </html>