<!DOCTYPE html>
<html lang="en" class="signup">
<head>
	<base href="../../">
	{{>head}}
</head>
<body>

	{{>header}}

	<main>

	{{>steps}}
	<div id="apiPhase" class="hide">{{api_phase}}</div>
	
	<h4 class="layout-title">Sign Up</h4>

	{{{body}}}
	
	</main>


	{{>footer}}
	{{>scripts}}
	

</body>
</html>
