<!DOCTYPE html>
<html lang="en" class="signup">
<head>
	<base href="../../">
	{{>head}}
</head>
<body>

	{{>header}}
	
	<main>
		{{!-- <h4 class="layout-title">Sign Up</h4> --}}
		{{{body}}}
		{{>steps}}
	</main>

	{{>footer}}
	{{>scripts}}
	

	<div id="apiPhase" class="hide">{{api_phase}}</div>
</body>
</html>
