
@import "_materialize-colors";

$bg-color: #2980b9;
$bg-dark: $blue-grey-d3;
$bg-dark: #34495e;
$bg-dark: #2c3e50;

$red: #e74c3c;
$blue: #3498db;
$blue-d: #2980b9;
$green: #2ecc71;
$green-d: #27ae60;
$yellow: #f1c40f;
$orange: #e67e22;
$yellow-orange: #f39c12;
$purple: #9b59b6;
$darkblue: #34495e;
$teal: #1abc9c;

$mono-white: #ecf0f1;
$mono-light: #bdc3c7;
$mono: #95a5a6;
$mono-dark: #7f8c8d;

$faded-white: rgba(255,255,255,0.9);
$pure-white: #ffffff;

$faded-black: rgba(0,0,0,0.9);
$pure-black: #000000;