@import url("color-overrides.css");
/*--------------------------------

	Media Queries

	used for outputting content either between media query tags

	example: basic usage

	.element {
		width: 50%;

		@include mq('tablet-small') {
			width: 20%;
		}
	}

	example: using max-width

	.element {
		width: 50%;

		@include mq('tablet-small', 'max') {
			width: 20%;
		}
	}

*/
/*--------------------------------

	Margin / Padding Quick Resets

	example: top & bottom margin set to $spacing-unit
	.element {
		@include push--ends;
	}

	example: left & right padding set to $spacing-unit--small
	.element {
		@include soft--sides($spacing-unit--small);
	}

*/
/*--------------------------------

	Helper mixins

*/
/*--------------------------------

	Form input placeholder text

	example:

	input,
	textarea {
		@include input-placeholder {
			color: $grey;
		}
	}

*/
/*--------------------------------

	Retina images

	example:

	.element {
		@include retina {
			background-image: url(../img/background@2x.png);
		}
	}

*/
/*--------------------------------

	Content margins

	fore removing first/last child margins

	example: default
	.element {
		@include content-margins;
	}

	output:
	.element > *:first-child {
		margin-top: 0;
	}
	.element > *:last-child {
		margin-bottom: 0;
	}

	example: empty selector
	.element {
		@include content-margins('false');
	}

	output:
	.element:first-child {
		margin-top: 0;
	}
	.element:last-child {
		margin-bottom: 0;
	}

*/
/*--------------------------------

	CSS Triangle

	used for creating CSS only triangles

	example:
	.element {

		&::before {
			@include css-triangle(blue, down);
		}
	}

*/
/*--------------------------------

	Hide text

	example:

	.element {
		@include hide-text;
	}

*/
/*--------------------------------

	Responsive ratio

	Used for creating scalable elements that maintain the same ratio

	example:
	.element {
		@include responsive-ratio(400, 300);
	}

*/
/*--------------------------------

	Typography

	Text image replacement, with responsive ratio

	HTML:

	<h1 class="element">
		<span>Text to replace</span>
	</h1>

	example:
	.element {
		@include typography(200, 50, 'hello-world');
	}


*/
/*--------------------------------

	Icon

	For using fontastic icons in pseudo elements

*/
/*--------------------------------

	Colours

	background, colour, etc. match up with colour map in _variables.scss

	modify to suit per project

*/
/*--------------------------------

	Misc

*/
/*--------------------------------

	Fluid Property

	http://www.adrenalinmedia.com.au/the-agency/insights/this-changes-everything-css-fluid-properties.aspx

	HTML:

	<h1 class="element">
		<span>Text to replace</span>
	</h1>

	example:
	h1 {
		@include fp(font-size, 50, 100); // 50px at 320, 100px at 1920;
	}

	output:
	h1 {
		font-size: calc(3.125vw + 40px); //This is the magic!
	}

	@media (max-width:320px){ //Clips the start to the min value
		font-size:50px;
	}

	@media (min-width:1920px){ //Clips the end to the max value
		font-size:100px;
	}


*/
#banner {
  width: 100%;
  height: initial;
  min-height: 500px;
  position: relative;
  background-color: #2980b9;
  color: #fff;
  padding: 0;
  padding-top: 4rem;
}

#banner .headline {
  font-size: 3.5rem;
  font-weight: 600;
  color: #505e5f;
}

@media all and (max-width: 700px) {
  #banner .headline {
    font-size: 3rem;
  }
}

@media all and (max-width: 550px) {
  #banner .headline {
    font-size: 2.5rem;
  }
}

@media all and (max-width: 360px) {
  #banner .headline {
    font-size: 2.2rem;
  }
}

#banner .subheadline {
  font-size: 2rem;
  font-weight: 400;
  color: #1abc9c;
  color: #7f8c8d;
}

#banner .bounds {
  padding-bottom: 6rem;
  padding-top: 2rem;
}

#banner .content-wrap {
  z-index: 100;
  margin-bottom: 4rem;
}

#banner .banner-graphic {
  height: initial;
  width: initial;
  max-height: 240px;
  max-width: 360px;
}

#banner .btn.call-to-action {
  font-size: 1.5rem;
  height: 4rem;
  line-height: 4rem;
  padding: 0 2rem;
  font-weight: 600;
}

#banner .btn.under-headline {
  margin-top: 4rem;
}

#banner.has-money-lock-gif {
  background-color: #FFE6C1;
}

#banner.has-maintenance-gif {
  background-color: #fff;
}

#banner.light-bg {
  color: #111;
  border-color: #111;
}

#banner.light-bg .btn {
  background-color: #1abc9c;
  border-color: #1abc9c;
}

#banner #maintenance-gif {
  max-height: 300px;
}
