/*
	Materialize CSS color overrides
*/
/*
	bluegrey-lighten1 $bg
*/
@import "_materialize-colors";

$switch-off-circle: #eceff1;
$switch-off-track: #b0bec5;
$bg-d: #333;
$bg-dark: #455a64;
$bg: #607d8b;
$bg-d1: #78909c;
$bg-alt: #90a4ae;

$light-bg: #eceff1;
$light-bg-l: #f1f4f6;

.switch label .lever {
	background-color: $bg-alt;
}
.switch label .lever:before,
.switch label .lever:after{
	background-color: $blue-grey-l5;
}

.switch label input[type=checkbox]:checked + .lever {
	background-color: $blue-grey-l4;
}

.collection .collection-item.active {
  background-color: $bg;
  color: #eafaf9;
}

.dropdown-content li > a, .dropdown-content li > span,
.fixed-action-btn .fab-backdrop, 
.progress .indeterminate,
.progress .determinate 
{
  background-color: $bg;
  color: #fff;
}
nav {
  background-color: $bg-dark;
  color: #fff;
}
nav ul a:hover {
	background-color: $bg-d1;
}
.picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected,
.chips .chip.selected,
span.badge.new,
.page-footer,
.btn, 
.btn-large, 
.btn-floating 
{
  color: #fff;
  background-color: $bg;
}
.btn:focus, 
.btn-large:focus, 
.btn-floating:focus
.side-nav li > a.btn:hover, 
.side-nav li > a.btn-large:hover, 
.side-nav li > a.btn-large:hover,
.btn:hover, 
.btn-large:hover, 
.btn-floating:hover
{
  background-color: $bg-alt;
  color: #fff;
}


.chips.focus,
input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) ,
input:not([type]):focus:not([readonly]), 
input[type=text]:not(.browser-default):focus:not([readonly]), 
input[type=password]:not(.browser-default):focus:not([readonly]), 
input[type=email]:not(.browser-default):focus:not([readonly]), 
input[type=url]:not(.browser-default):focus:not([readonly]), 
input[type=time]:not(.browser-default):focus:not([readonly]), 
input[type=date]:not(.browser-default):focus:not([readonly]), 
input[type=datetime]:not(.browser-default):focus:not([readonly]), 
input[type=datetime-local]:not(.browser-default):focus:not([readonly]), 
input[type=tel]:not(.browser-default):focus:not([readonly]), 
input[type=number]:not(.browser-default):focus:not([readonly]), 
input[type=search]:not(.browser-default):focus:not([readonly]), 
textarea.materialize-textarea:focus:not([readonly])
{
  border-bottom: 1px solid $bg;
  box-shadow: 0 1px 0 0 $bg;
}



.secondary-content,
.collection a.collection-item,
.picker__close, .picker__today,
.picker__day.picker__day--today,
input[type=range] + .thumb .value,
.input-field .prefix.active,
input:not([type]):focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input:not([type]):focus:not([readonly])+label, 
input[type=text]:not(.browser-default):focus:not([readonly])+label, 
input[type=password]:not(.browser-default):focus:not([readonly])+label, 
input[type=email]:not(.browser-default):focus:not([readonly])+label, 
input[type=url]:not(.browser-default):focus:not([readonly])+label, 
input[type=time]:not(.browser-default):focus:not([readonly])+label, 
input[type=date]:not(.browser-default):focus:not([readonly])+label, 
input[type=datetime]:not(.browser-default):focus:not([readonly])+label, 
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, 
input[type=tel]:not(.browser-default):focus:not([readonly])+label, 
input[type=number]:not(.browser-default):focus:not([readonly])+label, 
input[type=search]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label
{
  color: $bg;
}


.picker__date-display,
.side-nav li > a.btn-floating:hover
input[type=range]::-webkit-slider-thumb,
input[type=range] + .thumb,
.switch label input[type=checkbox]:checked + .lever:after,
[type="radio"]:checked + label:after,
[type="radio"].with-gap:checked + label:after {
  background-color: $bg;
}

[type="radio"]:checked + label:after,
[type="radio"].with-gap:checked + label:before,
[type="radio"].with-gap:checked + label:after {
  border: 2px solid $bg;
}

[type="checkbox"]:checked + label:before {
  border-right: 2px solid $bg;
  border-bottom: 2px solid $bg;
}

[type="checkbox"]:indeterminate + label:before {
  border-right: 2px solid $bg;
}

[type="checkbox"].filled-in:checked + label:after {
  border: 2px solid $bg;
  background-color: $bg;
}
[type="checkbox"].filled-in.tabbed:checked:focus + label:after {
  background-color: $bg;
  border-color: $bg;
}
input[type=range]::-ms-thumb, 
input[type=range]::-moz-range-thumb {
  background: $bg;
}
.spinner-layer {
  border-color: $bg;
}



.light.btn, 
.light.btn-large, 
.light.btn-floating 
{
  color: #333;
  background-color: $light-bg;
}

.light.side-nav li > a.btn:hover, 
.light.side-nav li > a.btn-large:hover, 
.light.side-nav li > a.btn-large:hover,
.light.btn:hover, 
.light.btn-large:hover, 
.light.btn-floating:hover 
{
  background-color: $light-bg-l;
  /*color: #333;*/
}