@import url("color-overrides.css");
/*--------------------------------

	Media Queries

	used for outputting content either between media query tags

	example: basic usage

	.element {
		width: 50%;

		@include mq('tablet-small') {
			width: 20%;
		}
	}

	example: using max-width

	.element {
		width: 50%;

		@include mq('tablet-small', 'max') {
			width: 20%;
		}
	}

*/
/*--------------------------------

	Margin / Padding Quick Resets

	example: top & bottom margin set to $spacing-unit
	.element {
		@include push--ends;
	}

	example: left & right padding set to $spacing-unit--small
	.element {
		@include soft--sides($spacing-unit--small);
	}

*/
/*--------------------------------

	Helper mixins

*/
/*--------------------------------

	Form input placeholder text

	example:

	input,
	textarea {
		@include input-placeholder {
			color: $grey;
		}
	}

*/
/*--------------------------------

	Retina images

	example:

	.element {
		@include retina {
			background-image: url(../img/background@2x.png);
		}
	}

*/
/*--------------------------------

	Content margins

	fore removing first/last child margins

	example: default
	.element {
		@include content-margins;
	}

	output:
	.element > *:first-child {
		margin-top: 0;
	}
	.element > *:last-child {
		margin-bottom: 0;
	}

	example: empty selector
	.element {
		@include content-margins('false');
	}

	output:
	.element:first-child {
		margin-top: 0;
	}
	.element:last-child {
		margin-bottom: 0;
	}

*/
/*--------------------------------

	CSS Triangle

	used for creating CSS only triangles

	example:
	.element {

		&::before {
			@include css-triangle(blue, down);
		}
	}

*/
/*--------------------------------

	Hide text

	example:

	.element {
		@include hide-text;
	}

*/
/*--------------------------------

	Responsive ratio

	Used for creating scalable elements that maintain the same ratio

	example:
	.element {
		@include responsive-ratio(400, 300);
	}

*/
/*--------------------------------

	Typography

	Text image replacement, with responsive ratio

	HTML:

	<h1 class="element">
		<span>Text to replace</span>
	</h1>

	example:
	.element {
		@include typography(200, 50, 'hello-world');
	}


*/
/*--------------------------------

	Icon

	For using fontastic icons in pseudo elements

*/
/*--------------------------------

	Colours

	background, colour, etc. match up with colour map in _variables.scss

	modify to suit per project

*/
/*--------------------------------

	Misc

*/
/*--------------------------------

	Fluid Property

	http://www.adrenalinmedia.com.au/the-agency/insights/this-changes-everything-css-fluid-properties.aspx

	HTML:

	<h1 class="element">
		<span>Text to replace</span>
	</h1>

	example:
	h1 {
		@include fp(font-size, 50, 100); // 50px at 320, 100px at 1920;
	}

	output:
	h1 {
		font-size: calc(3.125vw + 40px); //This is the magic!
	}

	@media (max-width:320px){ //Clips the start to the min value
		font-size:50px;
	}

	@media (min-width:1920px){ //Clips the end to the max value
		font-size:100px;
	}


*/
.signup .cancel-btn,
.login .cancel-btn {
  display: inline-block;
  padding: 4rem;
}

.signup .cancel-btn i,
.login .cancel-btn i {
  font-size: 2.5rem;
  color: #e74c3c;
  color: rgba(81, 81, 81, 0.24);
}

.signup .cancel-btn.cancel-top-right,
.login .cancel-btn.cancel-top-right {
  position: absolute;
  top: 2rem;
  right: 0;
}

.headline-wrap {
  padding: 2rem 0;
}

.headline-wrap .headline {
  font-size: 3rem;
  font-weight: 100;
  margin: .5rem 0;
}

.headline-wrap .eyebrow {
  font-size: 1.3rem;
  font-weight: 500;
  margin: .5rem 0;
}

form {
  background-color: transparent;
  width: 90%;
  max-width: 400px;
  margin: auto;
  padding: 2rem;
}

form input.text-input {
  background-color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.08);
  padding: 0;
  font-size: 1.2rem;
  height: 4rem;
  line-height: 4rem;
  text-indent: 1rem;
}

form input.text-input:focus {
  border-bottom: 2px solid rgba(0, 0, 0, 0.08);
  box-shadow: none;
}

form .submit-btn {
  height: 4.5rem;
  line-height: 4.5rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #bdc3c7;
  font-size: 1.3rem;
  border: none;
  outline: none;
  width: 100%;
  text-align: center;
  margin: 0;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}

form.validated .submit-btn {
  background-color: #1abc9c;
}
