@import url("color-overrides.css");
@import "_materialize-colors";
@import "_mixins-lib";
@import "_mixins";

form {
  background-color: #fff;
  // background-color: rgba(255,255,255,0.9);
  padding: 3rem;
  color: #333;
  border: 1px solid $blue-grey-l4;
  // border-radius: 1rem;
  @include border-radius(8px);

  &.text-form {
    max-width: 300px;
    // max-width: 400px;
    margin: auto;
  }

  .headline {
    font-size: 2rem;
    margin-top: 0;
    line-height: 1em;
    margin-bottom: 3rem;
  }
  .row {
    margin-bottom: 0;
  }

  .submit-btn {
    margin-top: 3rem;
  }

  i.suffix {
    float: right;
    font-size: 1.5rem;
    position: absolute;
    right: 0;
    bottom: 2.5rem;
    color: #999;
    cursor: pointer;

    &:hover {
      color: #333;
    }
  }
}

