@import url("color-overrides.css");
html {
  font-size: 12px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  text-align: center;
}

.page-title {
  font-size: 3rem;
  text-align: right;
  padding-right: 2rem;
  font-weight: 700;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.page-title span {
  display: block;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5em;
  color: rgba(0, 0, 0, 0.5);
}

header nav {
  height: 4rem;
  line-height: 4rem;
}

header nav .nav-wrapper ul {
  display: inline-block;
  margin: auto;
}

header nav .nav-wrapper ul li, header nav .nav-wrapper a i {
  height: inherit;
  line-height: inherit;
}

header nav .nav-wrapper a {
  font-size: 1rem;
}

header nav .nav-wrapper a i {
  margin-left: .5rem;
}
