@import url("color-overrides.css");
/*--------------------------------

	Media Queries

	used for outputting content either between media query tags

	example: basic usage

	.element {
		width: 50%;

		@include mq('tablet-small') {
			width: 20%;
		}
	}

	example: using max-width

	.element {
		width: 50%;

		@include mq('tablet-small', 'max') {
			width: 20%;
		}
	}

*/
/*--------------------------------

	Margin / Padding Quick Resets

	example: top & bottom margin set to $spacing-unit
	.element {
		@include push--ends;
	}

	example: left & right padding set to $spacing-unit--small
	.element {
		@include soft--sides($spacing-unit--small);
	}

*/
/*--------------------------------

	Helper mixins

*/
/*--------------------------------

	Form input placeholder text

	example:

	input,
	textarea {
		@include input-placeholder {
			color: $grey;
		}
	}

*/
/*--------------------------------

	Retina images

	example:

	.element {
		@include retina {
			background-image: url(../img/background@2x.png);
		}
	}

*/
/*--------------------------------

	Content margins

	fore removing first/last child margins

	example: default
	.element {
		@include content-margins;
	}

	output:
	.element > *:first-child {
		margin-top: 0;
	}
	.element > *:last-child {
		margin-bottom: 0;
	}

	example: empty selector
	.element {
		@include content-margins('false');
	}

	output:
	.element:first-child {
		margin-top: 0;
	}
	.element:last-child {
		margin-bottom: 0;
	}

*/
/*--------------------------------

	CSS Triangle

	used for creating CSS only triangles

	example:
	.element {

		&::before {
			@include css-triangle(blue, down);
		}
	}

*/
/*--------------------------------

	Hide text

	example:

	.element {
		@include hide-text;
	}

*/
/*--------------------------------

	Responsive ratio

	Used for creating scalable elements that maintain the same ratio

	example:
	.element {
		@include responsive-ratio(400, 300);
	}

*/
/*--------------------------------

	Typography

	Text image replacement, with responsive ratio

	HTML:

	<h1 class="element">
		<span>Text to replace</span>
	</h1>

	example:
	.element {
		@include typography(200, 50, 'hello-world');
	}


*/
/*--------------------------------

	Icon

	For using fontastic icons in pseudo elements

*/
/*--------------------------------

	Colours

	background, colour, etc. match up with colour map in _variables.scss

	modify to suit per project

*/
/*--------------------------------

	Misc

*/
/*--------------------------------

	Fluid Property

	http://www.adrenalinmedia.com.au/the-agency/insights/this-changes-everything-css-fluid-properties.aspx

	HTML:

	<h1 class="element">
		<span>Text to replace</span>
	</h1>

	example:
	h1 {
		@include fp(font-size, 50, 100); // 50px at 320, 100px at 1920;
	}

	output:
	h1 {
		font-size: calc(3.125vw + 40px); //This is the magic!
	}

	@media (max-width:320px){ //Clips the start to the min value
		font-size:50px;
	}

	@media (min-width:1920px){ //Clips the end to the max value
		font-size:100px;
	}


*/
html {
  font-size: 14px;
}

html.signup, html.login {
  color: #fff;
  background-color: #fbfbfb;
}

html.signup main, html.login main {
  padding: 6rem 0 4rem;
}

html.signup nav, html.login nav {
  background-color: #fff;
  border-bottom: 2px solid rgba(0, 0, 0, 0.08);
}

html.signup .button-collapse, html.login .button-collapse {
  display: initial;
}

html.signup ul.left,
html.signup ul.right, html.login ul.left,
html.login ul.right {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  text-align: center;
  color: #333;
  background-color: transparent;
  min-height: 100vh;
  overflow-x: hidden;
}

main {
  padding-bottom: 4rem;
  margin: 0;
  min-height: 85vh;
}

p {
  font-size: 1.2rem;
}

.bounds {
  width: 100%;
  max-width: 1200px;
  padding: 3rem;
  height: 100%;
  line-height: 100%;
  margin: auto;
  position: relative;
}

.page-title {
  font-size: 3rem;
  text-align: right;
  padding-right: 2rem;
  font-weight: 700;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.page-title span {
  display: block;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5em;
  color: rgba(0, 0, 0, 0.5);
}

footer.page-footer {
  background-color: #2c3e50;
  text-align: center;
}

footer.page-footer .content-wrap {
  display: inline-block;
  margin: auto;
  width: initial;
  max-width: 900px;
}

footer.page-footer .content-wrap ul {
  text-align: left;
  display: inline-block;
  float: left;
  margin: 2rem 3rem;
  font-size: 1rem;
  font-weight: 300;
}

@media all and (max-width: 600px) {
  footer.page-footer .content-wrap ul {
    display: block;
    float: none;
    margin: 2rem auto;
    width: 100%;
    font-size: 1.2rem;
  }
  footer.page-footer .content-wrap ul li {
    margin: 2px 0;
  }
  footer.page-footer .content-wrap ul li:first-child {
    font-size: 1.3rem;
  }
}

footer.page-footer .content-wrap li {
  margin: .5rem 0;
}

footer.page-footer .content-wrap li:first-child {
  font-weight: 600;
  font-size: 1.05rem;
  color: #1abc9c;
}

footer.page-footer .content-wrap li a {
  color: #fff;
}

footer.page-footer .subrow {
  background-color: #233342;
  text-align: center;
  margin: 0;
}

footer.page-footer .site-name {
  font-size: 1.2rem;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 100%;
  margin-right: 2rem;
}

section li {
  text-align: left;
  font-size: 1.25rem;
  font-weight: 300;
}

section li::before {
  content: "- ";
}

section.alternate {
  background-color: #455a64;
  color: #fff;
}

section .section-wrapper {
  display: inline-block;
  padding: 4rem 0;
}

.marquee {
  font-size: 6rem;
}

.circle-wrap {
  border-radius: 50%;
  background-color: #546e7a;
  color: #fff;
  display: inline-block;
  padding: 3rem;
}

.layout-title {
  font-size: 1.2rem;
}

.headline {
  font-size: 2rem;
}

.view-password {
  position: absolute;
  right: 0;
  top: 1rem;
  cursor: pointer;
  opacity: 0.5;
}
