@import url("color-overrides.css");
/*--------------------------------

	Media Queries

	used for outputting content either between media query tags

	example: basic usage

	.element {
		width: 50%;

		@include mq('tablet-small') {
			width: 20%;
		}
	}

	example: using max-width

	.element {
		width: 50%;

		@include mq('tablet-small', 'max') {
			width: 20%;
		}
	}

*/
/*--------------------------------

	Margin / Padding Quick Resets

	example: top & bottom margin set to $spacing-unit
	.element {
		@include push--ends;
	}

	example: left & right padding set to $spacing-unit--small
	.element {
		@include soft--sides($spacing-unit--small);
	}

*/
/*--------------------------------

	Helper mixins

*/
/*--------------------------------

	Form input placeholder text

	example:

	input,
	textarea {
		@include input-placeholder {
			color: $grey;
		}
	}

*/
/*--------------------------------

	Retina images

	example:

	.element {
		@include retina {
			background-image: url(../img/background@2x.png);
		}
	}

*/
/*--------------------------------

	Content margins

	fore removing first/last child margins

	example: default
	.element {
		@include content-margins;
	}

	output:
	.element > *:first-child {
		margin-top: 0;
	}
	.element > *:last-child {
		margin-bottom: 0;
	}

	example: empty selector
	.element {
		@include content-margins('false');
	}

	output:
	.element:first-child {
		margin-top: 0;
	}
	.element:last-child {
		margin-bottom: 0;
	}

*/
/*--------------------------------

	CSS Triangle

	used for creating CSS only triangles

	example:
	.element {

		&::before {
			@include css-triangle(blue, down);
		}
	}

*/
/*--------------------------------

	Hide text

	example:

	.element {
		@include hide-text;
	}

*/
/*--------------------------------

	Responsive ratio

	Used for creating scalable elements that maintain the same ratio

	example:
	.element {
		@include responsive-ratio(400, 300);
	}

*/
/*--------------------------------

	Typography

	Text image replacement, with responsive ratio

	HTML:

	<h1 class="element">
		<span>Text to replace</span>
	</h1>

	example:
	.element {
		@include typography(200, 50, 'hello-world');
	}


*/
/*--------------------------------

	Icon

	For using fontastic icons in pseudo elements

*/
/*--------------------------------

	Colours

	background, colour, etc. match up with colour map in _variables.scss

	modify to suit per project

*/
/*--------------------------------

	Misc

*/
/*--------------------------------

	Fluid Property

	http://www.adrenalinmedia.com.au/the-agency/insights/this-changes-everything-css-fluid-properties.aspx

	HTML:

	<h1 class="element">
		<span>Text to replace</span>
	</h1>

	example:
	h1 {
		@include fp(font-size, 50, 100); // 50px at 320, 100px at 1920;
	}

	output:
	h1 {
		font-size: calc(3.125vw + 40px); //This is the magic!
	}

	@media (max-width:320px){ //Clips the start to the min value
		font-size:50px;
	}

	@media (min-width:1920px){ //Clips the end to the max value
		font-size:100px;
	}


*/
html {
  font-size: 12px;
}

html.signup, html.login {
  color: #fff;
}

html.signup header nav, html.login header nav {
  background-color: transparent;
  box-shadow: none;
}

body {
  margin: 0;
  padding: 0;
  padding-top: 4rem;
  background-color: #fff;
  text-align: center;
  color: #333;
  background-color: transparent;
  min-height: 100vh;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.page-title {
  font-size: 3rem;
  text-align: right;
  padding-right: 2rem;
  font-weight: 700;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.page-title span {
  display: block;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5em;
  color: rgba(0, 0, 0, 0.5);
}

header {
  position: absolute;
  top: 0;
  width: 100%;
}

header nav {
  height: 4rem;
  line-height: 4rem;
  box-shadow: none;
  background-color: #2980b9;
}

header nav .nav-wrapper {
  max-width: 800px;
  margin: auto;
}

header nav .nav-wrapper ul {
  display: inline-block;
  margin: auto;
}

header nav .nav-wrapper ul li,
header nav .nav-wrapper a i {
  height: inherit;
  line-height: inherit;
}

header nav .nav-wrapper a {
  font-size: 1rem;
}

header nav .nav-wrapper a i {
  margin-left: .5rem;
}

header nav .nav-wrapper ul.dropdown-content {
  opacity: 0;
  display: none;
}

footer.page-footer {
  background-color: #2c3e50;
}

footer.page-footer li:first-child {
  font-weight: 600;
}

footer.page-footer li a {
  color: #fff;
}

#banner {
  width: 100%;
  background-color: #2980b9;
  color: #fff;
  padding: 2rem 0 6rem;
}

section .section-wrapper {
  display: inline-block;
  padding: 4rem 0;
}
