@import url("color-overrides.css");
@import "_materialize-colors";
@import "_mixins-lib";
@import "_mixins";
// @import "_functions";

// @import url("forms");

html {
  font-size: 12px;
  // background-image: linear-gradient(135deg, #abdcff 10%, #0396ff 100%);
  // background-image: linear-gradient(135deg, #97abff 10%, #123597 100%);
  // background-image: linear-gradient(135deg, #fccf31 10%, #f55555 100%);
  // background-image: linear-gradient(135deg, #fff886 10%, #f072b6 100%);
  // background-image: linear-gradient(135deg, #f97794 10%, #623aa2 100%);
  // background-image: linear-gradient(135deg, #fec163 10%, #de4313 100%);
  // background-image: linear-gradient(135deg, #2AFADF 10%, #4C83FF 100%);

  // @include linear-gradient($blue-grey-l2, $blue-grey);
	// @include linear-gradient($blue-grey, $blue-grey-d2);
	// @include linear-gradient(#8EC5FC,#E0C3FC);
	// @include linear-gradient(#8BC6EC,#9599E2);
	// @include linear-gradient(#0093E9,#80D0C7);
	// @include linear-gradient(#FAACA8,#DDD6F3);
    // @include linear-gradient(#2afadf, #4c83ff);


  &.signup,
  &.login {
    color: #fff;

    header {
      nav {
        background-color: transparent;
        box-shadow: none;
      }
    }
  }
}
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  text-align: center;
  color: #333;
  background-color: transparent;
  padding: 4rem 0 2rem;
  min-height: 100vh;
  // background: rgb(255,58,58);
  // background: -moz-linear-gradient(-45deg, rgba(255,58,58,1) 0%, rgba(255,126,45,1) 100%);
  // background: -webkit-linear-gradient(-45deg, rgba(255,58,58,1) 0%,rgba(255,126,45,1) 100%);
  // background: linear-gradient(135deg, rgba(255,58,58,1) 0%,rgba(255,126,45,1) 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3a3a', endColorstr='#ff7e2d',GradientType=1 );
}
// @import "materialize-overrides";

.page-title {
  font-size: 3rem;
  text-align: right;
  // text-align: left;
  padding-right: 2rem;
  font-weight: 700;
  position: absolute;
  top: 1rem;
  right: 1rem;

  span {
    display: block;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5em;
    color: rgba(0, 0, 0, 0.5);
  }
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  nav {
    height: 4rem;
    line-height: 4rem;

    .nav-wrapper {
      ul {
        display: inline-block;
        margin: auto;
      }
      ul li,
      a i {
        height: inherit;
        line-height: inherit;
      }

      a {
        font-size: 1rem;

        i {
          margin-left: .5rem;
        }
			}
			
			ul.dropdown-content {
				opacity: 0;
				display: none;
			}
    }
  }
}

