<h1>Index</h1>

<div class="row">
	<div class="col s12 m4 l2 offset-l3">
		<ul>
			<li>Sign Up Pages</li>
			<li><a href="/signup/text"> signup/text </a></li>
			<li><a href="/signup/face"> signup/face </a></li>
			<li><a href="/signup/voice">signup/voice</a></li>
			<li><a href="/signup/authenticator">signup/authenticator</a></li>

		</ul>
	</div>
	<div class="col s12 m4 l2">
		<ul>
			<li>Login Pages</li>
			<li><a href="/login/text"> login/text </a></li>
			<li><a href="/login/face"> login/face </a></li>
			<li><a href="/login/voice">login/voice</a></li>
			<li><a href="/login/authenticator">login/authenticator</a></li>
		</ul>
	</div>
	<div class="col s12 m4 l2">

		<ul>
			<li>API links</li>
			<li><a href="/api/text"> text </a></li>
			<li><a href="/api/face"> face </a></li>
			<li><a href="/api/voice">voice</a></li>
			<li><a href="/api/authenticator">authenticator</a></li>
		</ul>
	</div>
</div>

<p>Update Check: 8/5/17 10:33AM by Wayne</p>