<h1>Index</h1>

<div class="row">
	<div class="col s12 m4 l2 offset-l3">
		<ul>
			<li>Setup Pages</li>
			<li><a href="/setup/text"> setup/text </a></li>
			<li><a href="/setup/face"> setup/face </a></li>
			<li><a href="/setup/voice">setup/voice</a></li>
		</ul>
	</div>
	<div class="col s12 m4 l2">
		<ul>
			<li>Login Pages</li>
			<li><a href="/login/text"> login/text </a></li>
			<li><a href="/login/face"> login/face </a></li>
			<li><a href="/login/voice">login/voice</a></li>
		</ul>
	</div>
	<div class="col s12 m4 l2">

		<ul>
			<li>API links</li>
			<li><a href="/api/text"> text </a></li>
			<li><a href="/api/face"> face </a></li>
			<li><a href="/api/voice">voice</a></li>
		</ul>
	</div>
</div>