<h1>Index</h1>

<div class="row">
	<div class="col s12 m4 l2 offset-l3">
		<ul>
			<li>Sign Up Pages</li>
<<<<<<< HEAD
			<li><a href="/signup/text"> signup/text </a></li>
			<li><a href="/signup/face"> signup/face </a></li>
			<li><a href="/signup/voice">signup/voice</a></li>
			<li><a href="/signup/authenticator">signup/authenticator</a></li>

=======
			<li><a href="/signup/text"> text </a></li>
			<li><a href="/signup/face"> face </a></li>
			<li><a href="/signup/voice">voice</a></li>
			<li><a href="/signup/picture">picture</a></li>
>>>>>>> 807439641e0101cd503ebf80a0090e766d2013ec
		</ul>
	</div>
	<div class="col s12 m4 l2">
		<ul>
			<li>Login Pages</li>
<<<<<<< HEAD
			<li><a href="/login/text"> login/text </a></li>
			<li><a href="/login/face"> login/face </a></li>
			<li><a href="/login/voice">login/voice</a></li>
			<li><a href="/login/authenticator">login/authenticator</a></li>
=======
			<li><a href="/login/text"> text </a></li>
			<li><a href="/login/face"> face </a></li>
			<li><a href="/login/voice">voice</a></li>
			<li><a href="/login/picture">picture</a></li>
>>>>>>> 807439641e0101cd503ebf80a0090e766d2013ec
		</ul>
	</div>
	<div class="col s12 m4 l2">

		<ul>
			<li>API links</li>
			<li><a href="/api/text"> text </a></li>
			<li><a href="/api/face"> face </a></li>
			<li><a href="/api/voice">voice</a></li>
<<<<<<< HEAD
			<li><a href="/api/authenticator">authenticator</a></li>
=======
			<li><a href="/api/picture">voice</a></li>
>>>>>>> 807439641e0101cd503ebf80a0090e766d2013ec
		</ul>
	</div>
</div>

