{{!--
<div id="banner">
	<h2 id="bannerHeading">MyPass</h2>
	<h4 id="bannerSubHeading">Modern Security without the Hostility</h4>
</div> --}}

<div id="banner" class="has-maintenance-gif light-bg">
	<div class="bounds">

	{{!-- <div id="carousel-panel-1" class="carousel-item white-text" href="#one!">
		<h2>MyPass Biometric Authentication</h2>
		<p class="white-text">Modern Security without the Hostility</p>
		<a class="btn waves-effect white grey-text darken-text-2" href="/signup/text">Try it Out!</a>
		<img class="banner-graphic animation" src="src/graphics/lock-money-animation.gif">
	</div>

	<div id="carousel-panel-2" class="carousel-item white-text" href="#two!">
		<h2>Explore the Tech</h2>
		<p class="white-text">MyPass uses cutting edge technology to provide an enhanced user authentication experience without sacrificing security.</p>
		<a class="btn waves-effect white grey-text darken-text-2" href="/how-it-works">Learn More</a>
	</div>

	<div id="carousel-panel-3" class="carousel-item white-text" href="#three!">
		<h2>Third Panel</h2>
		<p class="white-text">This is your third panel</p>
	</div> --}}
		<div class="content-wrap">
			<h2 class="headline">
				MyPass Biometric <br> Authentication
			</h2>
			<h5 class="subheadline">Modern Security without the Hostility</h5>
			<a class="btn under-headline call-to-action waves-effect" href="/signup/text">Try it Out!</a>
		</div>
				
			<img id="maintenance-gif" class="banner-graphic animation" src="src/graphics/maintenance-animation-trim.gif">
	</div>
			{{!-- <img id="lock-money-gif" class="banner-graphic animation" src="src/graphics/lock-money-animation.gif"> --}}
</div>
