<div id="banner">
	<h2 id="bannerHeading">MyPass</h2>
	<h4 id="bannerSubHeading">Modern Security without the Hostility</h4>
</div>
<section class="row">
	<div class="section-wrapper container">

        <div><h2>{{welcome_message}}</h2></div>

        <div class="col s12 m4 section-space">
        	<div class="card">
            
        	<!--
            <div class="card-image center">
              <img src="/src/icons/text.png">
              
            </div> -->
            <span class="card-title center">Text</span>
            <br><br>
            <div class="card-content">
              <p>Classic user authentication with bcrypt hashing and input validation. Bcrypt executes an internal encryption/hash function many times in a loop and returns the secured password to store.</p>
            </div>
            
          </div>

<!--
          <div class="icon-block">
            <h2 class="center"><i class="material-icons">text_fields</i></h2>
            <h3 class="center">Text</h3>

            <p class="light">Classic user authentication with bcrypt hashing and input validation. Bcrypt executes an internal encryption/hash function many times in a loop and returns the secured password to store.</p>
          </div> -->
        </div>

        <div class="col s12 m4 section-space">
        	<div class="card">
        	<!--
            <div class="card-image center">
              <img src="/src/icons/face.jpg" height="150px">
              
            </div> -->
            <span class="card-title center">Face Recognition</span>
            <div class="card-content">
              <p>Face Biometric Authentication using Amazon Rekognition APIs (Deep-Learning based image recognition). Amazon Rekognition uses deep neural network models to detect and label thousands of objects and scenes in an image.</p>
            </div>
            
          </div>

          <!--
          <div class="icon-block">
            <h2 class="center"><i class="material-icons">face</i></h2>
            {{!-- <h2 class="center"><i class="material-icons">portrait</i></h2> --}}
            <h3 class="center">Face Recognition</h3>

            <p class="light">
							Face Biometric Authentication using Amazon Rekognition APIs (Deep-Learning based image recognition). Amazon Rekognition uses deep neural network models to detect and label thousands of objects and scenes in an image.
						</p>
          </div>
          -->
        </div>

        <div class="col s12 m4">
        	<div class="card">
        	<!--
            <div class="card-image center">
              <img src="/src/icons/voice.jpg" height="150px">
              
            </div> -->
            <span class="card-title center">Voice Recognition</span>
            <div class="card-content">
              <p>Voice Biometric Authentication using VoiceIt APIs. Voice biometric authentication technique uses digital sampling techniques to recognize a  speaker’s voice. VoiceIt provides a cloud-based, pay as you go, voice biometrics platform.</p>
            </div>
            
          </div>

          <!--
          <div class="icon-block">
            <h2 class="center"><i class="material-icons">record_voice_over</i></h2>
            {{!-- <h2 class="center brown-text"><i class="material-icons">mic</i></h2> --}}
            <h3 class="center">Voice Recognition</h3>

            <p class="light">
							Voice Biometric Authentication using VoiceIt APIs. Voice biometric authentication technique uses digital sampling techniques to recognize a  speaker’s voice. VoiceIt provides a cloud-based, pay as you go, voice biometrics platform.
						</p>
          </div>
          -->
        </div>

	</div>
</section>



<div class="parallax-container" style="height:350px">
    <div class="parallax"><img src="/src/icons/Password1.jpg" height=""></div>
</div>
  <div class="section white" style="height:400px;">
    <div class="row ">
      <h2 class="header">Text Password Authentication</h2>

      <p class="grey-text text-darken-3 lighten-3">

        <div class="row" style="width:90%">

            <div class="col s4 ">
              <ul class="browser-default" style="text-align: justify;text-justify: inter-word;padding-top:20px;padding-right:20px;">
              <li style="margin-bottom:5px"><b>Bcrypt hashing<b></li>
              <li style="margin-bottom:5px"><b>Strongest hashing Technique<b></li>
              <li style="margin-bottom:5px"><b>Actual user passwords never stored</b></li>
              <li style="margin-bottom:5px"><b>Only store password hashes in database</b></li>
              <li style="margin-bottom:5px"><b>Input validation for usernames, emails, passwords</b></li>
              </ul>
            </div>

            <div class="col s8" style="text-align: justify;text-justify: inter-word; font-size:12px;font-weight:normal;padding:10px">
            <p>
              Bcrypt is a password hashing function which aims at being slow but most secured.BCrypt is from 1999 and is GPU-ASIC resilient by design as it’s also a memory hardening function: it’s not just CPU intensive, but also RAM-intensive to execute a bcrypt hash.Bcrypt algorithm's use a technique called Key Stretching.Bcrypt is an adaptive hash function based on the Blowfish symmetric block cipher cryptographic algorithm and introduces a work factor (also known as security factor), which allows you to determine how expensive the hash function will be.
              </p>
            </div>

        </div>


        
      </p>
    </div>
  </div>
  <div class="parallax-container" style="height:350px">
    <div class="parallax"><img src="/src/icons/face-rec.jpg"></div>
  </div>
  <div class="section white" style="height:400px;">
    <div class="row ">
      <h2 class="header">Face Biometric Authentication</h2>

      <p class="grey-text text-darken-3 lighten-3">

        <div class="row" style="width:90%">

            <div class="col s4 ">
              <ul class="browser-default" style="text-align: justify;text-justify: inter-word;padding-top:20px;padding-right:20px;">
              <li style="margin-bottom:5px"><b>Bcrypt hashing<b></li>
              <li style="margin-bottom:5px"><b>Strongest hashing Technique<b></li>
              <li style="margin-bottom:5px"><b>Actual user passwords never stored</b></li>
              <li style="margin-bottom:5px"><b>Only store password hashes in database</b></li>
              <li style="margin-bottom:5px"><b>Input validation for usernames, emails, passwords</b></li>
              </ul>
            </div>

            <div class="col s8" style="text-align: justify;text-justify: inter-word; font-size:12px;font-weight:normal;padding:10px">
            <p>
              Bcrypt is a password hashing function which aims at being slow but most secured.BCrypt is from 1999 and is GPU-ASIC resilient by design as it’s also a memory hardening function: it’s not just CPU intensive, but also RAM-intensive to execute a bcrypt hash.Bcrypt algorithm's use a technique called Key Stretching.Bcrypt is an adaptive hash function based on the Blowfish symmetric block cipher cryptographic algorithm and introduces a work factor (also known as security factor), which allows you to determine how expensive the hash function will be.
              </p>
            </div>

        </div>


        
      </p>
    </div>
  </div>

  <div class="parallax-container" style="height:350px">
    <div class="parallax"><img src="/src/icons/voice.jpg"></div>
  </div>
  <div class="section white" style="height:400px;">
    <div class="row ">
      <h2 class="header">Voice Biometric Authentication</h2>

      <p class="grey-text text-darken-3 lighten-3">

        <div class="row" style="width:90%">

            <div class="col s4 ">
              <ul class="browser-default" style="text-align: justify;text-justify: inter-word;padding-top:20px;padding-right:20px;">
              <li style="margin-bottom:5px"><b>Bcrypt hashing<b></li>
              <li style="margin-bottom:5px"><b>Strongest hashing Technique<b></li>
              <li style="margin-bottom:5px"><b>Actual user passwords never stored</b></li>
              <li style="margin-bottom:5px"><b>Only store password hashes in database</b></li>
              <li style="margin-bottom:5px"><b>Input validation for usernames, emails, passwords</b></li>
              </ul>
            </div>

            <div class="col s8" style="text-align: justify;text-justify: inter-word; font-size:12px;font-weight:normal;padding:10px">
            <p>
              Bcrypt is a password hashing function which aims at being slow but most secured.BCrypt is from 1999 and is GPU-ASIC resilient by design as it’s also a memory hardening function: it’s not just CPU intensive, but also RAM-intensive to execute a bcrypt hash.Bcrypt algorithm's use a technique called Key Stretching.Bcrypt is an adaptive hash function based on the Blowfish symmetric block cipher cryptographic algorithm and introduces a work factor (also known as security factor), which allows you to determine how expensive the hash function will be.
              </p>
            </div>

        </div>


        
      </p>
    </div>
  </div>




