<div id="banner">
	<h2>MyPass</h2>
	<h4>Modern Security without the Hostility</h4>
</div>
<section class="row">
	<div class="section-wrapper container">

        <div><h2>{{welcome_message}}</h2></div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="material-icons">text_fields</i></h2>
            <h5 class="center">Text</h5>

            <p class="light">Classic user authentication with bcrypt hashing and input validation.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="material-icons">face</i></h2>
            {{!-- <h2 class="center"><i class="material-icons">portrait</i></h2> --}}
            <h5 class="center">Face Recognition</h5>

            <p class="light">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis magnam est voluptatem, consequuntur rerum quae modi asperiores quas odit, natus possimus.
						</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="material-icons">record_voice_over</i></h2>
            {{!-- <h2 class="center brown-text"><i class="material-icons">mic</i></h2> --}}
            <h5 class="center">Voice Recognition</h5>

            <p class="light">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt saepe nisi perferendis, itaque officia laborum culpa earum esse praesentium molestiae sapiente.
						</p>
          </div>
        </div>

	</div>
</section>

<section class="row">
	<div class="section-wrapper container">

	</div>
</section>