<div class="panel-wrap">
	<a id="login-text" href="/login/text" class="authtype panel">
		<h2 class="feature-icon">
			<i class="material-icons">text_fields</i>
		</h2>
		<h4 class="section-title">Text</h4>
	</a>
	<a id="login-face" href="/login/face" class="authtype panel">
		<h2 class="feature-icon">
			<i class="material-icons">face</i>
		</h2>
		<h4 class="section-title">Face</h4>
	</a>
	<a id="login-voice" href="/login/voice" class="authtype panel">
		<h2 class="feature-icon">
			<i class="material-icons">record_voice_over</i>
		</h2>
		<h4 class="section-title">Voice</h4>
	</a>
</div>