<h4 class="headline">Site Map</h4>

<div class="row">
	
	<div class="col s12 m4 l2 offset-l3">
		<ul>
			<li>Sign Up Pages</li>
			<li><a href="/signup/text"> text </a></li>
			<li><a href="/signup/face"> face </a></li>
			<li><a href="/signup/voice">voice</a></li>
			<li><a href="/signup/picture">picture</a></li>
		</ul>
	</div>
	
	<div class="col s12 m4 l2">
		<ul>
			<li>Login Pages</li>
			<li><a href="/login/text"> text </a></li>
			<li><a href="/login/face"> face </a></li>
			<li><a href="/login/voice">voice</a></li>
			<li><a href="/login/picture">picture</a></li>
		</ul>
	</div>

	<div class="col s12 m4 l2">
		<ul>
			<li>API links</li>
			<li><a href="/api/text"> text </a></li>
			<li><a href="/api/face"> face </a></li>
			<li><a href="/api/voice">voice</a></li>
			<li><a href="/api/picture">voice</a></li>
		</ul>
	</div>

</div>

