<h4 class="headline">Site Map</h4>

<div class="row">
	
	<div class="col s12 m4 l2 offset-l3">
		<ul>
			<li>Sign Up Pages</li>
			<li><a href="/signup/text"> Plain text </a></li>
			<li><a href="/signup/face"> Face </a></li>
			<li><a href="/signup/voice">Voice</a></li>
			<li><a href="/signup/picture">Picture</a></li>
		</ul>
	</div>
	
	<div class="col s12 m4 l2">
		<ul>
			<li>Login Pages</li>
			<li><a href="/login/text"> Plain text </a></li>
			<li><a href="/login/face"> Face </a></li>
			<li><a href="/login/voice">Voice</a></li>
			<li><a href="/login/picture">Picture</a></li>
		</ul>
	</div>

	<div class="col s12 m4 l2">
		<ul>
			<li>Core Dependencies</li>
			<li><a href="https://www.npmjs.com/package/bcrypt">bcrypt</a></li>
			<li><a href="http://docs.aws.amazon.com/rekognition/latest/dg/what-is.html">AWS Rekognition</a></li>
			<li><a href="https://siv.voiceprintportal.com/apidocs">VoiceIt</a></li>
			{{!-- <li><a href="http://docs.aws.amazon.com/rekognition/latest/dg/what-is.html">Picture</a></li> --}}
		</ul>
	</div>

</div>

