<h5>Text</h5>


<div class="row">
	<form action="/api/face" class="text-form" method="GET">
			
		<div class="row">
			<div class="input-field">
				<input id="email" name="email" type="email" class="validate signup">
				<label for="email">email</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field">
				 <input id="username" name="username" type="text" class="signup"> 
				<label for="username">username</label>
			</div>
		</div>
		
		<button type="submit" class="submit-btn btn">Create Account</button>
	</form>
</div>