<h3>Text</h3>


<div class="row">
	<form action="/api/text/{{api_phase}}" class="text-form" method="POST">
	{{#if isSetup}}
		<div class="row">
			<div class="input-field col s12 m6">
				<input id="firstname" name="firstname" type="text" class="validate">
				<label for="firstname">First Name</label>
			</div>
			<div class="input-field col s12 m6">
				<input id="lastname" name="lastname" type="text" class="validate">
				<label for="lastname">Last Name</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field">
				<input id="email" name="email" type="text" class="validate">
				<label for="email">email</label>
			</div>
		</div>
	{{/if}}
		<div class="row">
			<div class="input-field">
				<input id="username" name="username" type="text" class="validate">
				<label for="username">username</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field">
				<input id="password" name="pw" type="password" class="validate">
				<label for="password">password</label>
			</div>
		</div>
	{{#if isSetup}}
		<div class="row">
			<div class="input-field">
				<input id="confirm-password" type="password" class="validate">
				<label for="confirm-password">confirm password</label>
			</div>
		</div>
	{{/if}}
		<button type="submit" class="submit-btn btn">Submit</button>
	</form>
</div>