<h5>Voice Authentication</h5>

<div class="row">
	<h3 id="enrollment-phrase">Today is a nice day to go for a walk.</h3>
</div>
<div class="row" >
		{{!-- <form id="main-form" role="form" action="/api/voice/user" method="POST" enctype="multipart/form-data"  class="voice-form col s12 m6 offset-m3 l4 offset-l4"> --}}
		<form id="main-form" role="form" action="/api/voice/user" method="POST" class="voice-form col s12 m6 offset-m3 l4 offset-l4" >
			
		  {{#if isSignup}}
			<input id="username" type="text" name="username" placeholder="username" disabled value="{{username}}">
		  {{else}}	
		  	<input id="username" type="text" name="username" placeholder="username" value="{{username}}">
		  {{/if}}

			<button class="btn" type="submit">Create User</button>
		</form>



		<div class="col s12 m6 offset-m3 l4 offset-l4">

			{{!-- <input id="recorder" type="file" accept="audio/*" capture="microphone"> --}}
			{{!-- <audio id="player" controls></audio> --}}


			{{!-- <a id="download">Download</a> --}}
			{{!-- <button id="stop">Stop</button> --}}

			<a href="#!" id="start" class="btn">start</a>
			<a href="#!" id="stop" class="btn">stop</a>

			<button type="cancel" class="cancel-btn btn">Cancel</button>
			
			{{!-- <a href="#!" id="pause" class="btn">pause</a> --}}
			{{!-- <a href="#!" id="save-dialog" class="btn">save-dialog</a> --}}
			{{!-- <a href="#!" id="save" class="btn">save</a> --}}
		</div>


		<div id="apiPhase" class="hide">{{api_phase}}</div>
</div>